.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 50%;
    padding: 2%;
    border-radius: 10%;
    background-color: #c42c2c;
    overflow: auto;
}

.buttonScreen {
    width: 40%;
    height: 15%;
    padding: 2%;
    background-color: #189b1f; 
    border: 0;
    border-radius: 45%;
}

.buttonScreen:hover {
    width: 45%;
    height: 17%;
    padding: 0%;
    background-color: #71108a;
    color: #fff; 
    cursor: pointer;
    outline: none;
}

h1.header {
    font-size: 30px;
    color: #08175a;
    text-shadow: 2px 2px 5px #fff;
}

input,textarea {
    width: 100%;
    height: 25px;
    border: 0;
    margin-bottom: 8%;
    background: #5d5df3;
    outline: none;
}

input.ingress:hover, textarea:hover {
    background: #7c7cf0;
}

textarea {
    min-height: 45px;
    resize: none;
}

.footerScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 20%;
}

.buttonForm {
    width: 40%;
    height: 50px;
    border-radius: 1%;
    outline: none;
}

.buttonForm:hover {
    width: 40%;
    height: 50px;
    background-color: #1c9644;
}

.error {
    color: #f3bf31;
}

h2.draw, div.drawText {
    color: #fff;
}

.savedGames {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.buttonLoad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 17%;
    padding: 0%;
    margin: 2%;
    border-radius: 0;
}
.buttonLoad:hover {
    width: 100%;
}

@media(max-width: 1550px) {
    .screen {
        width: 30%;
        height: 60%;
    }
}

